body {
  border: 3px dotted #000000;
  margin: 0;
}

section {
  border: 2px solid #000000;
  width: 500px;
  margin: 20px; /* ALL Four Sides */
  padding: 10px; /* ALL Four Sides */
}

h1, p {
  border: 1px dashed #000000;
}

h1 {
  margin: .5em 0 1.25em; /* .5em top, 0 right and left, .25em bottom*/ /* TRouBLe */
}

p {
  margin: 0;
  padding-left: 15px;
}