section {
  width: 50%;
  padding: 1em;
  border: 3px solid black;
  border-radius: 10px 3px 15px 30px;
  box-shadow: 10px 10px 5px 5px #888888;
}

article {
  border-left: 3px double black;
  padding-left: 1em;
  border-radius: 30px;
}