h2:not(:first-child) {
  margin-top: 10em;
}

p {
  font-size: 1.5em;
}

.font-size {
  font-size: 3em;
}

.font-style {
  font-style: italic;
}

.font-weight {
  font-weight: bold;
}

.font-variant {
  font-variant: small-caps;
}

.line-height {
  line-height: 2em;
}

.indent {
  text-indent: 2em;
}

.text-align-middle {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-transform {
  text-transform: capitalize;
}

.text-decoration {
  text-decoration: line-through;
}

.letter-spacing {
  letter-spacing: 1.5em;
}

.word-spacing {
  word-spacing: 3em;
}

.text-shadow-1 {
  text-shadow: 1px 1px 2px #000000;
}

.text-shadow-2 {
  text-shadow: -2px -2px 4px #00FF00;
}

.text-shadow-3 {
  text-shadow: 14px 14px;
}